body{
	background-color: white;
	margin: 0px;
}
.logo{
	display: block;
	height: auto;
	width: auto;
	max-height: 200px;
	margin: auto;
} 
.nom_liste{
	display: block;
	height: auto;
	width: auto;
	max-height: 50px;
	margin: auto;
}

.logo-container{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: gray;
	background-image: url(../img/parchemin.jpeg);
}

.menu-container{
	display: block;
	text-align: center;
	background-color: #6E0B14;
	padding: 0px;
	margin: 0px;
	height: 39px;
	width: 100%;
}
.menu{
	display: inline-block;
	padding: 0;
	margin:0;
	height: 40px;
}
.menu li{
	display: inline-block;
	background-color: #6E0B14;
	list-style: none;
}

.menu li :hover{
	display: inline-block;
	background-color: #FFBF00;
	color: black;
}

.menu li a:hover{
	text-align: center;
}
.menu li a{
	display: block;
	margin:0px;
	padding:10px;
	text-align: center;
	color:white;
	text-decoration: none;
}

.formulaire{
	padding: 10px;
	background-color: #FFBF00;
	width: 500px;
	margin: 0 auto;
	list-style: none;
}

.texte{
	padding: 10px;
}

input[type=text]{
	border: none;
    padding: 16px 16px;
    margin: 5px 5px;
    width: 467px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    margin: 5px 5px;
    cursor: pointer;
    width: 100%;
}

.grid-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
}


.grid-element{
	margin: 2px;
	height: 200px;
	width: 300px;
	text-align: center;
	background-color: blue;
}

@keyframes test{
	from {background-color: blue;}
	to {background-color: green;}
}
.grid-element:hover{
	animation-name: test;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}


a{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: black;
}



.grid-element img{
	max-height: 120px;
	height: auto;
	width: auto;
}


table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

table{
	margin-top: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

td{
	padding: 10px;
}

.jeu{
	display: block;
	margin-left:auto;
	margin-right: auto;
	padding: 5px;
	padding-top: 10px;
	text-align: center;
	height: 60px;
	width: 80px;
}

.jeu img{
	max-height: 30px;
	height: auto;
	width: auto;
}

.social{
	display: inline-block;
	padding: 10px;
	max-height: 50px;
	height: auto;
	width: auto;
}

.social-container{
	text-align: center;
}

.credits{
	text-align: center;	
}

.game-container{
	padding-top: 0px;
	float: left;
	display: inline-block;
	background-color: green;
	margin-right: -90px;
}