.planning{
	max-width: 100%;
	width: 100%;
	height: auto;
}

rect:hover{
	fill: white;
	opacity: 0.6;
}

svg{
	padding: 0;
	margin:0;
}

.affiche{
	max-width: 50%;
	height: auto;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}